// @todo these should be their own CSS files and only included when
// specific Drupal libraries are used.
@import "component/alert";
@import "component/ajax";
@import "component/field";
@import "component/file";
@import "component/filter";
@import "component/form";
@import "component/icon";
@import "component/navbar";
@import "component/node";
@import "component/panel";
@import "component/progress-bar";
@import "component/table-drag";
@import "component/tabs";
@import "component/toolbar";

// jQuery UI style overrides.
@import "jquery-ui/autocomplete";

ol, ul {
  padding-left: 1.5em;
  .popover &:last-child {
    margin-bottom: 0;
  }
}

// Page header.
.page-header {
  margin-top: 0;
}

// Footer.
.footer {
  margin-top: 45px;
  padding-top: 35px;
  padding-bottom: 36px;
  border-top: 1px solid #E5E5E5;
}

// Paragraphs.
p:last-child,
.form-group:last-child,
.panel:last-child {
  margin-bottom: 0;
}

// Help region.
.region-help {
  > .glyphicon {
    font-size: $font-size-large;
    float: left;
    margin: -0.05em 0.5em 0 0;
  }
  .block {
    overflow: hidden;
  }
}

// display horizontal tabs
.help-block, .control-group .help-inline {
  color: $gray-light;
  font-size: 12px;
  margin: 5px 0 10px;
  padding: 0;
  &:first-child {
    margin-top: 0;
  }
}

.field-group-tabs-wrapper ul.nav.nav-tabs {
  padding-bottom: 0;
  width: 100%;
}

.field-group-tabs-wrapper ul.nav.nav-tabs > li {
  display: inline-block;
  margin-bottom: 0;
  margin-right: 2px;
}

.field-group-tabs-wrapper ul.nav.nav-tabs > li > a,
.field-group-tabs-wrapper ul.nav.nav-tabs > li > a:hover,
.field-group-tabs-wrapper ul.nav.nav-tabs > li.active > a {
  border-bottom: 0 none;
  border-color: #dddddd #dddddd rgba(0, 0, 0, 0) #dddddd;
  border-radius: 4px 4px 0 0;
  margin-bottom: 0;
}



/* iPads (portrait) ----------- */
@media screen and (min-width : 768px) {


  .extra-flex-two-cols  {
    display: flex;
    flex-wrap: wrap;
      }
    
    .extra-flex-two-cols > div {
    width: 45%;
    margin-left: 15px;
    margin-right: 15px;
    }
    
  
  }